body{

  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.links{
list-style: none;
display: flex;
}
footer{
    background-color:#e3f2fd;
    height: 150px;


}
a:hover{
    font-size: large;
    color: #000;
}
.card ,.card-img-top{
    border-radius: 40px;
}
.card:hover{
transform: scale(1.1);
box-shadow: 0 12px 6px rgba(0, 0, 0, 0.2);

}
.navbar{
    position:sticky;
    top: 0px;
    left: 0px;
     z-index: 1000;
       background-color: #e3f2fd;
}
.collapse{
   padding: 20px;
font-weight: bold;}